<%- include("../partials/header") %>
<%- include("../partials/navBar")%>

<h1>Page gestion admin</h1>

<h2> Ajout d'un légume</h2>
  <form action="ajoutLegume" method="post">
    <label for="nom">Nom du légume *</label>
    <input type="text" id="nom" name="nom" required>

    <label for="variete">Variété</label>
    <input type="text" id="variete" name="variete">

    <label for="famille">Famille *</label>
    <select id="famille" name="famille" required>
      <option value="">-- Sélectionnez une famille --</option>
      <% familles.forEach(elem => { %>
        <option value="<%= elem.type %>"><%= elem.type %></option>
      <% }); %>
    </select>

    <label for="alliances">Alliances</label>
    <select name="alliances" id="alliances" multiple>
      <option value="" disabled selected>Ajouter un légume ami</option>
      <% legumes.forEach(elem => { %>
        <option value="<%= elem.nom %>"><%= elem.nom %></option>
      <% }); %>
    </select>


    <input type="submit" value="Ajouter le légume">
  </form>

<h2> Suppression d'un légume</h2>
  <form action="suppressionLegume" method="post">
    <label for="suppressionLegume">Suppression d'un légume</label>
    <select name="suppressionLegume">
      <option value="" disabled selected>Sélectionner le légume à supprimer</option>
      <% legumes.forEach(elem => { %>
        <option value="<%= elem.nom %>"><%= elem.nom %></option>
      <% }); %>
    </select>

    <input type="submit" value="Supprimer le légume">
  </form>


<%- include("../partials/footer") %>