<%- include("../partials/header") %>
<%- include("../partials/navBar") %>

<h1>index page consultation</h1>

<div style="display: flex;">
  <div>
    <h2>Accès au carré via le plan</h2>
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="794px" height="794px" viewBox="-0.5 -0.5 794 794" content="&lt;mxfile&gt;&lt;diagram id=&quot;gQWwHAKkXH62pL57MteN&quot; name=&quot;Page-1&quot;&gt;7ZlNk5sgGMc/jcfOBIgve9102156yqFnKkSZojgEq+mnL0ZATXS6h12yMyWXyJ8X5f/jkYckQoeq/ypxU34XhPII7kgfoc8RhAAkT/prUC5GSVAyKoVkxGiTcGR/qBF3Rm0ZoedFQyUEV6xZirmoa5qrhYalFN2y2Unw5V0bXNA74Zhjfq/+YESVo5rBdNK/UVaU6nbGFbaNzUzOJSaim0noJUIHKYQar6r+QPngnvVl7Pdlo9Y9mKS1ek0HiMYevzFvzeTMg6mLnW0hRdtE6FkKhRUTtVb3sS6bnlQq2q/Zjn/aEXb3jwXcZPUyoaKiSl50EzuQ7WJWyKe9KXeT3XFitHJmtROxQVy4sScX9IUxYsOUf3uiuTXDJe31jZ+JaMe5gqtNbU0oMaWuZIoeG5wP1Z2OB62VquKusfMUoMFULHOz3nfDwExqI8d6is/DvU6M84PgQmqpFjUdJFErK0UQna4frZ+VFL+orSH0hFuuHLg5DbcMbmFuEoL7JSG4QihbAZS9AZ/0I/PZMn2F21twQDBecHBlDxyywMFx2IPHxcNT4LAZDyD2Fw92CQQQKxtE6i8eAAgcplQqfmBAfOhMyjOI9HEbBHhFlv/fcLgNCJ8ZE9gHEJs7hEuhfICIA4gpd43hMiKS1B+IJICYkldr/OUGjA8Q4VS9HRHA7qA+QIRj9XZE2N8cfHAIx+pZ0mQDwD8HGE7Vs5wpe9h7CYZT9SYHnxmTtT1wWHkvvWPGpIvT/3LXutnfm+jlLw==&lt;/diagram&gt;&lt;/mxfile&gt;">
      <defs/>
        <g>
          <a href="/jardin/1">
            <rect x="356" y="356" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,396,396)" pointer-events="none"/>
          <rect x="358" y="358" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,396,396)" pointer-events="all"/>
        </a>
        <a href="/jardin/2">
          <rect x="441" y="441" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,481,481)" pointer-events="all"/>
          <rect x="443" y="443" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,481,481)" pointer-events="all"/>
        </a>
        <a href="/jardin/3">
          <rect x="526" y="356" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,566,396)" pointer-events="all"/>
          <rect x="528" y="358" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,566,396)" pointer-events="all"/>
        </a>
        <a href="/jardin/4">
          <rect x="441" y="271" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,481,311)" pointer-events="all"/>
          <rect x="443" y="273" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,481,311)" pointer-events="all"/>
        </a>
        <a href="/jardin/5">
          <rect x="356" y="186" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,396,226)" pointer-events="all"/>
          <rect x="358" y="188" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,396,226)" pointer-events="all"/>
        </a>
        <a href="/jardin/6">
          <rect x="271" y="271" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,311,311)" pointer-events="all"/>
          <rect x="273" y="273" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,311,311)" pointer-events="all"/>
        </a>
        <a href="/jardin/7">
          <rect x="186" y="356" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,226,396)" pointer-events="all"/>
          <rect x="188" y="358" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,226,396)" pointer-events="all"/>
        </a>
        <a href="/jardin/8">
          <rect x="271" y="441" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,311,481)" pointer-events="all"/>
          <rect x="273" y="443" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,311,481)" pointer-events="all"/>
        </a>
        <a href="/jardin/9">
          <rect x="356" y="526" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,396,566)" pointer-events="all"/>
          <rect x="358" y="528" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,396,566)" pointer-events="all"/>
        </a>
        <a href="/jardin/10">
          <rect x="568" y="483" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,608,523)" pointer-events="all"/>
          <rect x="570" y="485" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,608,523)" pointer-events="all"/>
        </a>
        <a href="/jardin/11">
          <rect x="483" y="568" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,523,608)" pointer-events="all"/>
          <rect x="485" y="570" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,523,608)" pointer-events="all"/>
        </a>
        <a href="/jardin/12">
          <rect x="568" y="229" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,608,269)" pointer-events="all"/>
          <rect x="570" y="231" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,608,269)" pointer-events="all"/>
        </a>
        <a href="/jardin/13">
          <rect x="483" y="144" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,523,184)" pointer-events="all"/>
          <rect x="485" y="146" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,523,184)" pointer-events="all"/>
        </a>
        <a href="/jardin/14">
          <rect x="229" y="144" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,269,184)" pointer-events="all"/>
          <rect x="231" y="146" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,269,184)" pointer-events="all"/>
        </a>
        <a href="/jardin/15">
          <rect x="144" y="229" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,184,269)" pointer-events="all"/>
          <rect x="146" y="231" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,184,269)" pointer-events="all"/>
        </a>
        <a href="/jardin/16">
          <rect x="144" y="483" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,184,523)" pointer-events="all"/>
          <rect x="146" y="485" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,184,523)" pointer-events="all"/>
        </a>
        <a href="/jardin/17">
          <rect x="229" y="568" width="80" height="80" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,269,608)" pointer-events="all"/>
          <rect x="231" y="570" width="76" height="76" fill="none" stroke="rgb(0, 0, 0)" transform="rotate(135,269,608)" pointer-events="all"/>
        </a>
      </g>
    </svg>
  </div>

  <div>
    <h2>Accès au carré via la liste</h2>
    <ul>
    <% result.forEach( carre => { %>
      <li>
        <a href="/jardin/<%= carre.id %>"> <%= carre.id %> </a>
      </li>
    <% }); %>
    </ul>
  </div>

</div>
<%- include("../partials/footer") %>