<%- include("../partials/header") %>
<%- include("../partials/navBar") %>

<h1>index page consultation</h1>

<p>tableau fiche technique carre</p>

<table>
  <thead>
    <tr>
      <th rowspan="2">Carré potager n° <%= result.id %> </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Disponible</td>
      <td><%= result.disponible ? 'OUI' : 'NON' %></td>
    </tr>
    <tr>
      <td>Composition</td>
      <td>
        <ul>
        <% result.composition.forEach( elem => { %>
         <a href="/legumes/<%= elem %>"><li><%= elem %></li></a>
        <% }); %>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Année</td>
      <td><%= result.annee.getFullYear() %></td>
    </tr>
    <tr>
      <td>Alliances</td>
    </tr>
    <tr>
      <td>Rotations prochaines</td>
    </tr>
    <tr>
      <td>Commentaire</td>
    </tr>
    <!-- Ajouter des lignes supplémentaires pour plus de données -->
  </tbody>
</table>

<%- include("../partials/footer") %>