<%- include("../partials/header") %>
<%- include("../partials/navBar") %>

<h1>index page consultation</h1>

<p>Dessin du jardin avec zone clicable par carré</p>

<ul>
<% result.forEach( carre => { %>
  <li>
    <a href="/jardin/<%= carre.id %>"> <%= carre.id %> </a>
  </li>
<% }); %>
</ul>
<%- include("../partials/footer") %>